<%= render 'layouts/navigation' %>


<div class="container-fluid" id="jumbotron">

  <div class="container-narrow">
    <div class="row-fluid">
      <%= render 'layouts/messages' %>

    </div>

  <div class="row-fluid">


      <h1>Picsta</h1>
      <p class="lead">Picsta makes it simple to save and share your pictures with the most important people in your
        life, your family.</p>
      <%= link_to 'More Info', more_info_path, :class => "btn btn-large btn-primary" %> <%= link_to 'Login', new_user_session_path, :class => "btn btn-large btn-warning" %>
  </div>
</div>
</div>

<div class="container-fluid" id="marketing-body">
<!-- Three columns below the masthead -->
<div class="container-narrow">
<div class="row-fluid">
  <div class="span4">
    <h2>Simple</h2>

    <p>Invite your family members with a simple form. We'll send them an email invitation to join.</p>

  </div>
  <!-- /.span4 -->
  <div class="span4">
    <h2>Add Pictures</h2>

    <p>Create an album and start adding photos. You can upload pictures directly from your smartphone, laptop, or home computer.</p>

  </div>
  <!-- /.span4 -->

  <div class="span4">
    <h2>Enjoy</h2>

    <p>Images will be immediately available for your family to enjoy. Pictures are shared only with your family.</p>

  </div>
  <!-- /.span4 -->
</div><!-- /.row -->
</div>
</div><!-- marketing body -->

<div class="container-narrow"><hr/></div>


<%= render 'layouts/footer' %>