<p>Hello Admin</p>
<h3>Users</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Signed up</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.created_at.to_date %></td>
    <td><%= link_to 'Show', user %></td>
    <td>
            <a data-toggle="modal" href="#role-options-<%= user.id %>" class="btn btn-mini" type="button">Edit</a>
            <%= render user %>
    </td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<h3>Options</h3>
<p><%= link_to 'Invite Users', new_user_invitation_path %>
