<div class="hero-unit">
  <h1>Picsta</h1>
<lead>Share with your family and friends.</lead>
  <% if user_signed_in? %>
    <p><%= link_to 'View Albums', albums_path, :class=>"btn btn-large btn-primary" %></p>
  <% else %>
    <p><%= link_to 'Login', new_user_session_path, :class=>"btn btn-large btn-primary"  %></p>
  <% end %>
</div>

<% if false #user_signed_in? %>
    <div class="activity-container">
      <% @activities.each do |activity| %>
          <div class="well activity">
            <p class="muted"><%= distance_of_time_in_words_to_now activity.created_at %> ago</p>
            <% if activity.owner %>
                <% if activity.owner.name.nil? or activity.owner.name.empty? %>
                    <strong><%= activity.owner.email if activity.owner.email %></strong>
                <% else %>
                    <strong><%= activity.owner.name %></strong>
                <% end %>
            <% end %>
            <%= render_activity activity %>
          </div>
      <% end %>
      <%= paginate @activities %>
    </div>

<% end %>



