<div class="row">

  <% if Power.current.is_subscriber or Power.current.is_admin %>
      <div class="row">
          <div class="span6 offset4">
            <h3>Your Albums</h3>
            <% @albums.each do |album| %>
                <% image = album.images.first %>
                <div class="media">
                  <a class="pull-left" href="<%= url_for album  %>">
                    <% unless image.nil? %>
                    <img class="media-object" src="<%= image.pic_url(:thumb) %>">
                    <% end %>
                  </a>
                  <div class="media-body">
                    <div class="media-heading">
                    <%= link_to album.title, album %> is shared with <%=  album.allowed_viewers.count %> account(s).
                    </div>
                    <p><%= album.images.count %> image(s)</p>
                    <p>
                        <div class="btn-group">
                          <button class="btn"><%= link_to 'Show', album %></button>
                          <button class="btn"><%= link_to 'Edit', edit_album_path(album) %></button>
                          <button class="btn"><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                        </div>
                    </p>
                  </div>
                </div>
            <% end %>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="span2 offset5">
        <p><%= link_to 'New Album', new_album_path, :class=>"btn" if Power.current.is_subscriber or Power.current.is_admin %></p>
          </div>
      </div>
  <% end%>
</div>

 <div class="row">
    <div class="span6 offset4">
      <div>
        <h3>Shared Albums</h3>
      </div>



   <ul class="thumbnails">
    <% @shares.each do |share| %>
        <li class="span3">
             <div class="thumbnail">

                   <% image = share.album.images.first %>
               <% unless image.nil? %>
                   <%= link_to image_tag( image.pic_url(:thumb), :alt =>  image.title.to_s), share.album, :class=>"centered" %>
               <% end %>
               <p><%= link_to share.album.title, share.album %> shared by <%= share.album.user.name %></p>
               <p><%= share.album.images.count %> image(s)</p>
             </div>
        </li>
    <% end %>
   </ul>
    </div>
</div>




