
<div class="row-fluid">
    <div class="span12">
      <div class="content">
        <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
            <% @albums.each do |album| %>
               <div class="box">
                  <% image = album.get_album_cover %>
                  <% unless image.nil? %>
                      <%= link_to image_tag( image.pic_url(:thumb), :alt =>  image.title.to_s), album, :class=>"centered" %>
                  <% end %>

                  <p><%= link_to album.title, album %>
                  <% user = album.user %>
                  <% unless user.nil? or user.name.nil? %>
                        shared by <%= user.name %>
                    <% end %>
                  </p>
                  <p><%= album.images.count %> image(s)</p>
                 <!--
                  <div class="btn-group">
                     <button class="btn btn-mini btn-primary"><%= link_to 'Show', album %></button>
                     <button class="btn btn-mini btn-primary"><%= link_to 'Edit', edit_album_path(album) %></button>
                     <button class="btn btn-mini btn-primary"><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                 </div>
                 -->
                </div>

            <% end %>
          </div>
        </div>
    </div>
</div>

<div class="row-fluid">
  <div class="marketing-content">
    <div class="container">
    <div class="span3">

        <h2>Share</h2>
          <p>Share and save your family's memories by creating an album. </p>
          <p><%= link_to 'New Album', new_album_path, :class=>"btn btn-small btn-primary" %></p>
    </div>
    <div class="span3">
      <h2>Family</h2>
      <p>Invite your family.</p>
      <p><%= link_to 'Invite Users', new_user_invitation_path, :class=>"btn btn-small btn-primary" %></p>
    </div>
    <div class="span3">
      <h2>Feedback</h2>
      <p>Have a suggestion? Tell us what you think about Picsta by providing feedback.</p>
        <p><%= link_to 'Leave Feedback', contact_path, :class=>"btn btn-small btn-primary" %></p>
    </div>
    </div>
  </div>
</div>


