<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>User:</b>
  <%= @album.user.name %>
</p>

<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
  <% i = 0 %>
  <% @album.images.each do |image| %>
    <div class="box">
      <p><%= link_to image_tag( image.pic_url(:thumb), :alt =>  image.title.to_s), image %></p>
     </div>
<% end %>
</div>

<%= toolbar_helper(@album) %>

<%= link_to 'Back', albums_path %>

