<div class="image-viewer-toolbar">
    <%= images_navigation_toolbar(@image) %>
</div>
<%= @image.title %>
<%= image_tag @image.pic_url(:web) if @image.pic? %>
<div class="actions">
   <%= link_to 'Remove', @image, :confirm => 'Are you sure?', :method => :delete %> |
   <%= link_to 'Back', album_path(@image.album_id) %> 
 </div>
