<div class="row container">
  <div class="span8">
    <div class="image-viewer-toolbar">
        <%= images_navigation_toolbar(@image) %>
    </div>
  </div>
</div>
<div class="row container">
  <div class="span8">
    <%= @image.title %>
    <%= image_tag @image.pic_url(:web) if @image.pic? %>
  </div>
  <div class="span2">
    <h4>Controls</h4>
    <div class="actions">
      <ul>
       <li><%= link_to 'Back to Album', album_path(@image.album_id) %></li>
        <li><%= link_to 'Original Image', @image.pic_url if @image.pic? %></li>
       <li><%= link_to 'Make Album Cover', album_path(@image.album, :album => {:image_id => @image.id}), :method => :put %></li>
       <li><%= link_to 'Remove Image', @image, :confirm => 'Are you sure?', :method => :delete %></li>
      </ul>
    </div>
  </div>
</div>
<div class="row container">
  <div class="span8">
    <div class="image-viewer-toolbar">
        <%= images_navigation_toolbar(@image) %>
    </div>
  </div>
</div>