<div class="container-fluid" id="myfooter">
  <div class="container-narrow">
  <div class="row-fluid">
    <div class="footer">
      <div class="span6">
        <p><%= link_to(image_tag('facebook.png'), 'http://facebook.com/picstacloud') %> <%= link_to(image_tag('twitter_bird.png'), 'http://twitter.com/picstacloud') %> <%= link_to(image_tag('pinterest.png'), 'http://pinterest.com/picsta') %></p>

        <p><i class="icon-pencil"></i> <a href="mailto:hello@picsta.co">Say hello@picsta.co</a></p>

        <p>Handcrafted in Mobile Alabama &copy; 2013 Dana Spisak 路 All Rights Reserved
          路 <%= link_to 'Privacy Policy', privacy_policy_path %> 路 <%= link_to 'About Picsta', about_path %> 路 <%= link_to 'Blog', '/blog' %></p>
      </div>
      <div class="span2">
        <%= image_tag 'logo_footer.png' %>
      </div>

    </div>
  </div>
  </div>
</div>