<!-- NAVBAR
================================================== -->
<div class="container-fluid" id="navigation">
  <div class="row-fluid">
    <div class="span12">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="navbar navbar-static-top">
        <div class="navbar-inner">
          <% if user_signed_in? %>
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <% end %>
          <%= link_to "Picsta", root_path, :class => 'brand' %>


          <ul class="nav">
            <% if user_signed_in? %>
                <li>
                  <%= link_to 'Albums', albums_path %>
                </li>
            <% else %>
                <li>
                  <%= link_to 'Login', new_user_session_path %>
                </li>
                <li>
                  <%#= link_to 'Sign up', new_user_registration_path %>
                  <%= link_to 'Sign up', more_info_path %>
                </li>
            <% end %>
          </ul>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <% if user_signed_in? %>
                  <li>
                    <%= link_to 'Invite Users', new_user_invitation_path %>
                  </li>
                  <li>
                    <%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %>
                  </li>
                  <li>
                    <%= link_to 'Edit account', edit_user_registration_path %>
                  </li>
                  <% if nav_association_chain.is_admin? %>
                      <li>
                        <%= link_to 'Admin', users_path %>
                      </li>
                  <% end %>
              <% end %>
            </ul>
          </div>

        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
  </div>
</div>

